<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <application
        android:name=".MarutiConsultancyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_appicon3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_appicon3"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindWithIt"
        tools:targetApi="31">
        <activity
            android:name=".presentation.CustomerDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.FindWithIt" />
        <activity
            android:name=".presentation.home.view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FindWithIt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.home.view.HomeActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".presentation.home.view.AddPersonActivity" />
        <activity android:name=".presentation.home.view.FaverateActivity" />
        <activity android:name=".presentation.home.view.UserLogin" />
        <activity android:name=".presentation.insurancepresnt.AddInsuranceActivity"/>
        <activity android:name=".presentation.insurancepresnt.InsuranceHomeActivity"/>
        <activity android:name=".presentation.insurancepresnt.InsuranceDetailsActivity"/>
        <activity android:name=".presentation.insurancepresnt.UpdateInsuranceActivity"/>
    </application>

</manifest>